/**
 * Table of contents
 * =======================================================
 *   
 *   1. Header
 *   2. Main Navigation
 *   
 * =======================================================
 **/


/**
 * Section 1 : Header
 * =======================================================
 */

#body{
   background-color: black;
   
}

 
#nav{
   text-align: "right";


}

#header {
   text-align: center;
   display: flex;
}

#header ul {
 list-style: none;
 display: flex;

}

